body {
    font-family: monospace;
    color: #555;
    background-color: #f7f7f7;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  div {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
  button {
    border: none;
    font-size: 1.5rem;
    padding: 2rem 5rem;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(0, 98, 255);
    cursor: pointer;
  }