#square1 {
    background-color: rgb(188, 228, 149);
}
#square2 {
    background-color: rgb(185, 185, 255);
}
#square3 {
    background-color: rgb(250, 233, 134);
}
#square4 {
    background-color: rgb(252, 188, 151);
}
#square5{
    background-color: rgb(253, 203, 109);
}
#square6{
    background-color: rgb(199, 199, 199);
}