.title {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(228, 224, 224);
}
.title span {
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(234,84,33);
}
.mainUl {
    list-style: none;
    margin-top: 10px;
    color: rgb(234,84,33);
    padding-bottom: 15px;
}
.mainUl li {
    display: inline-block;
    padding-right: 20px;
    font-size: 0.7em;
}
.points {
    color: rgb(160, 161, 161);
}
.mainUl .comments {
    background-color: rgb(23,162,183);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.fa-clock, .fa-user {
    color: rgb(160, 161, 161);
}