* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.max-box {
  width: 95%;
  margin: 0 auto;
}

.head-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-wrapper ul {
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.head-wrapper ul li {
  padding: 8px 0;
  background: #7FC2F7;
  color: white;
}

.white-logo {
  display: none;
}

.black-logo {
  display: block;
}

@media (min-width: 768px) {
  .head-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head-wrapper ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: unset;
  }
  .head-wrapper ul li {
    padding: 8px 16px;
    background: transparent;
  }
  .white-logo {
    display: block;
  }
  .black-logo {
    display: none;
  }
}
.hero {
  color: white;
  background-image: url("/week8 - scss/banner3.jpg");
  background-size: cover;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .hero-content h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
.hero .hero-content button {
  width: 134px;
  height: 37px;
  border-radius: 37px;
  color: white;
  border-style: none;
  background: #146eb4;
  font-size: 14px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero {
    height: 520px;
    margin-top: -81px;
  }
  .hero .hero-content {
    gap: 40px;
  }
  .hero .hero-content h1 {
    max-width: 780px;
    font-size: 36px;
    line-height: 42px;
  }
  .hero .hero-content h1 button {
    width: 167px;
    height: 47px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .hero-content h1 {
    max-width: 100%;
    font-size: 64px;
    line-height: 75px;
  }
}
.we {
  padding: 60px 0;
}
.we .welcome h3 {
  font-size: 20px;
  font-weight: 500;
  color: #5ba6e3;
  margin-bottom: 20px;
}
.we .welcome p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
.we .welcome ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}
.we .welcome ul li {
  color: #9c958e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.we-content, .people, .contact, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.we-content h2, .people h2, .contact h2, .form h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 5px;
}
.we-content .decoration, .people .decoration, .contact .decoration, .form .decoration {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.we-content .decoration .line, .people .decoration .line, .contact .decoration .line, .form .decoration .line {
  width: 50px;
  height: 2px;
  background: black;
}
.we-content .decoration .square, .people .decoration .square, .contact .decoration .square, .form .decoration .square {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.we-content img {
  width: -webkit-fill-available;
  margin-bottom: 45px;
  height: 412px;
}

.dream-home h3 {
  font-size: 20px;
  font-weight: 500;
  color: #5ba6e3;
  margin-bottom: 20px;
}
.dream-home p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
.dream-home ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}
.dream-home ul li {
  color: #9c958e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .we-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .we-content h2 {
    font-size: 38px;
    line-height: 45px;
  }
  .we-content img {
    max-width: 330px;
    height: 424px;
  }
  .we-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .we-wrapper .welcome {
    max-width: 370px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 20px;
  }
  .we-wrapper .welcome h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .we-wrapper .welcome p {
    font-size: 16px;
    line-height: 19px;
  }
  .dream-home h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .dream-home p {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 992px) {
  .we-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .we-content .we-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 60px;
  }
}
.people {
  padding: 60px 0;
}
.people .card {
  background: #7FC2F7;
  padding: 18px 30px;
}
.people .card .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.people .card .top-card img {
  border-radius: 54px;
  outline: 2px solid white;
  outline-offset: 4px;
}
.people .card .top-card .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 700;
}
.people .card p {
  color: white;
}

.people-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 768px) {
  .top-card img {
    width: 100px;
    height: 100px;
  }
  .people-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
  }
}
@media (min-width: 992px) {
  .people-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}
.contact-wrapper .contact-box {
  height: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  counter-reset: white;
  gap: 20px;
}
.contact-wrapper span svg {
  margin-right: 3px;
}
.contact-wrapper .contact-box.number {
  background: #2CDD98;
}
.contact-wrapper .contact-box.social {
  background: #FF4F81;
}
.contact-wrapper .contact-box.social svg {
  fill: white;
  margin-right: 5px;
}
.contact-wrapper .contact-box.address {
  background: #3369E6;
}
.contact-wrapper .contact-box.house {
  background: #7FC2F7;
}
.contact-wrapper .contact-box.house img {
  width: inherit;
}

@media (min-width: 992px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.map iframe {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .map iframe {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .map iframe {
    height: 500px;
  }
}
.form {
  padding: 60px 0;
}
.form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.form .form-wrapper .bottom-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.form .form-wrapper input {
  padding: 12px 14px;
}
.form .form-wrapper textarea {
  padding: 12px 14px;
  height: 150px;
}
.form .form-wrapper .form-btn {
  padding: 0;
  max-width: 120px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #ff9801;
  color: white;
}
.form .top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .form-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .form-wrapper .top-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-wrapper .top-form input {
    width: 33.33%;
  }
}
.footer {
  padding: 60px 0;
  background: black;
  color: white;
}
.footer ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  font-size: 14px;
}
.footer p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer ul {
    font-size: 16px;
  }
  .footer p {
    font-size: 16px;
  }
}