
#super-mario {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px auto;
      width: 1200px;
      height: 700px;
      background-image: url('./images/photo_2023-01-14_17-01-11.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  #mario{
      width: 15%;
      height: 15%;
      margin-bottom: 120px;
  }